<div class="home-class" style="background-color: {{homeCtrl.colorBg}}">
  <h2> Traffic Flow Counts </h2>
  <br>
  <br>
  <a href="#/data"><i class="fa fa-table" aria-hidden="true"></i> DATA </a>
  <h3> Purpose of this App </h3>
    <p class="p1">
      Vehicle traffic volumes for arterial streets in Seattle based on spot studies that have been adjusted for seasonal variation.
   To provide a high level view of traffic volumes on major streets in Seattle, and compare changes from year to year.
   The AAWDT count is a seasonally adjusted average weekday daily total of vehicle traffic for all lanes, i.e. total vehicles in both directions for one average 24-hour business day, Monday through Friday. Only selected arterial streets are included.</p>
    <div id="murakami">
      <img src="./murakami.jpg">
    </div>
    <h3> Purpose of this App </h3>
    <p class="p2">
      Vehicle traffic volumes for arterial streets in Seattle based on spot studies that have been adjusted for seasonal variation.
   To provide a high level view of traffic volumes on major streets in Seattle, and compare changes from year to year.
   The AAWDT count is a seasonally adjusted average weekday daily total of vehicle traffic for all lanes, i.e. total vehicles in both directions for one average 24-hour business day, Monday through Friday. Only selected arterial streets are included.</p>
   <h3> Purpose of this App </h3>
     <p class="p3">
       Vehicle traffic volumes for arterial streets in Seattle based on spot studies that have been adjusted for seasonal variation.
    To provide a high level view of traffic volumes on major streets in Seattle, and compare changes from year to year.
    The AAWDT count is a seasonally adjusted average weekday daily total of vehicle traffic for all lanes, i.e. total vehicles in both directions for one average 24-hour business day, Monday through Friday. Only selected arterial streets are included.</p>
  <div class="murakami2">
    <img src="./murakami2.jpg">
  </div>
</div>
