// @import "vendor/font-awesome/scss/font-awesome.scss";
@import "_theme";

html, body{
  width: 100%;
  height: 100%;
}

h1 {
  margin: 10% auto 10% auto;
  text-align: center;
  color: $app-default;
  border-bottom: thin solid $app-light;
}

.appAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  p {
    font-size: 16px;
    padding: 0 20% 0 20%;
    color: $app-text;
  }
}
